.item {
    width: 100%;
    max-height:200px;
    max-width:800px;
}

.navbar {
    margin-bottom: 0px;
}

.container {
    margin-right: 5%;
    margin-left: 5%;
    width: auto;
}

.jumbotron {
    background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, #000, #479b99); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000, #479b99); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000, #479b99); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000, #479b99); /* Standard syntax */
    padding-top: 0px;
    padding-bottom: 20px;
    max-height: 200px;
}

.jumbotron p{
    color: #fff;
}

.jumbotron h1{
    color: #fff;
}
/* old button colour */

/*.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
} */

/* new button color */
.btn-primary, .btn-primary:focus, .btn-primary.focus, 
.btn-primary:active, .btn-primary.active, .btn-primary:visited {
    color: #fff;
    background-color: #479b99;
    border-color: #479b99;
}

.btn-primary:hover, .btn-primary:active:hover, .btn-primary.active:hover {
    color: #fff;
    background-color: #387a79;
    border-color: #387a79;
}

.content {
    width: 50%;
}

.info{
    padding:0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.helpful:link {
    text-decoration: underline;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* to change content link styles - currently not used */

/*a.helpful:visited {
    }

a.helpful:hover {
    }

a.helpful:active {
    } */

h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #387a79;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.maincontent {
    padding-bottom: 50px;
}

.navbar-custom {
    background: -webkit-linear-gradient(right, #000, #479b99); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000, #479b99); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000, #479b99); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000, #479b99); /* Standard syntax */
    color:#ffffff;
    border-radius:0;
    z-index: 1;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:#479b99;
    height: auto;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #479b99;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}

.navbar-custom .icon-bar {
    background-color:#113555;
}

ul {
    padding-left: 20px;
}

/* Style the Image Used to Trigger the Modal */
#myImg, #myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover, #myImg2:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal, .modal2{
    display: none; /* Hides it by default */
    position: fixed; /* Make sure it doesn't move */
    z-index: 2; /* To make it sit on top of everything */
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content, .modal-content2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
    max-height: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .modal-content2, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close, .close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content, .modal-content2 {
        width: 100%;
    }
}

@media (min-width: 768px) {

    .heading {
        color: white;
        font-size: 40px;
    }

    .sub-heading {
        color: white;
        font-size: 20px;
    }
}

@media (max-width: 767px) {

    .title {
        font-size: 30px;
    }

    .heading {
        font-size: 30px;
    }

    .sub-heading {
        color: white;
        font-size: 15px;
    }

    .jumbotron {
        padding-top: 0px;
        padding-bottom: 0px;
        max-height: 180px;
    }

    .btn-group-lg>.btn, .btn-lg {
        padding: 10px 16px;
        font-size: 15px;
    }

    h1 {
        font-size: 23px;
    }

    p {
        font-size: 13px;
    }
}

@media (max-width: 418px) {

    .title {
        font-size: 20px;
    }

    .jumbotron {
        padding-top: 0px;
        padding-bottom: 0px;
        max-height: 180px;
    }


}

@media (max-width: 370px) {

    .heading {
        font-size: 20px;
    }

    .sub-heading {
        color: white;
        font-size: 12px;
    }

    .title {
        font-size: 20px;
    }

    .jumbotron {
        padding-top: 0px;
        padding-bottom: 0px;
        max-height: 400px;
    }   

    .btn-group-lg>.btn, .btn-lg {
        padding: 10px 16px;
        font-size: 12px;
        line-height: 1.3333333;
        border-radius: 6px;
    }


}